@import "tailwindcss";
@import "../styles/global.css";
@plugin "daisyui";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, monospace;
  --color-amber-400: oklch(82.79% 0.162 83.88);
  --color-amber-500: oklch(76.88% 0.169 80.97);
  --color-amber-600: oklch(66.57% 0.168 70.08);
}

@plugin "daisyui/theme" {
  name: "moi";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(8% 0 0);
  --color-base-200: oklch(12% 0 0);
  --color-base-300: oklch(18% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(76.88% 0.169 80.97);
  --color-primary-content: oklch(15% 0.02 80);
  --color-secondary: oklch(66.57% 0.168 70.08);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(82.79% 0.162 83.88);
  --color-accent-content: oklch(15% 0.02 80);
  --color-neutral: oklch(25% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(45.201% 0.313 264.052);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(51.975% 0.176 142.495);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(96.798% 0.211 109.769);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(62.795% 0.257 29.233);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
